<%- include('./includes/head.ejs') %>

<link rel="stylesheet" href="/style1.css">
<link rel="stylesheet" href="/account.css">

<body class="bg-black">

	<header class="header">
    	<div class="header-inner">
    	  <div class="container-fluid">
    	    <nav class="navbar bg-black fixed-top">
	    	    <div class="container-fluid mb-1 justify-content-center display-6">
	    	      	<b style="background: linear-gradient(to top, #7CFC00, #008000);
	            		-webkit-background-clip: text;
	            		-webkit-text-fill-color: transparent;
	            		font-family: 'Ubuntu'"
	              	>Account</b>
	    	    </div>
    	  	</nav>
    	  </div>
    	</div>
  	</header>

  	<div class="loading-spinner" id="loadingSpinner">
	    <img src="https://i.ibb.co/PTLFqC0/cube.png" alt="Your Logo" class="logoSp">
	    <div class="spinner"></div>
	</div>

  	<section>
  		<div class="container mb-3 flCont">
  			<div class="row" style="height: 210px; margin-top: 72px; border-radius: 10px;
  			background-image: linear-gradient(to right, #a17ce1, #2196f3); padding: 5px 0;">

  				<div class="col-6" style="color: white;">
  					<img src="https://i.ibb.co/pr9kgDP/vip.png" class="img-fluid" width="40px">
  					<b>$<%= x1.main_balance %></b>
  				</div>

  				<div class="col-6 text-end">
  					<button type="button" class="btn border-0" 
  					style="background-color: orange; color: white;">
  						<%= x1.current_level %>
  					</button>
  				</div>

  				<div class="col-xxl" style="border-top: 1px solid white;">
  					<table class="table table-borderless">
  						<tbody>
  							<tr>
  								<td style="font-family: 'Poppins';">Today income</td>
  								<td style="font-family: 'Poppins';">Total income</td>
  								<td rowspan="3"><img src="https://i.ibb.co/Wt0jdDP/currency.png"></td>
  							</tr>
  							<tr>
  								<td style="font-family: 'Poppins'; font-weight: bold;">
  									<img src="https://i.ibb.co/Wt0jdDP/currency.png" class="img-fluid" width="20px">
  										$<%= (today == income_date) ? x1.today_income : '0' %>
  								</td>
  								<td style="font-family: 'Poppins'; font-weight: bold;">
  									<img src="https://i.ibb.co/Wt0jdDP/currency.png" class="img-fluid" width="20px">
  										$<%= x1.total_income %>
  								</td>
  							</tr>
  							<tr>
  								<td>
  									<a href="/user/withdrawal" class="btn" style="text-decoration: none; background-color: orange;">Withdrawal</a>
  								</td>
  								<td>
  									<a href="/user/recharge" class="btn" style="text-decoration: none; background-color: orange;">Recharge</a>
  								</td>
  							</tr>
  						</tbody>
  					</table>
  				</div>
  			</div>
  		</div>
  	</section>

  	<section>
  		<div class="container mb-3 text-center tlCont">
  			<div class="row justify-content-center">
  				<div class="col-6">
					<a href="https://t.me/Crypto_Invest_Mining" target="_blank" style="text-decoration: none; color: white;">
						<img src="https://i.ibb.co/mzGGDk2/service.png" class="img-fluid" width="50px">
  						<p>Service</p>
					</a>
  				</div>
  				<div class="col-6">
					<a href="/user/faq" style="text-decoration: none; color: white;" target="_blank">
						<img src="https://i.ibb.co/CmFszNP/faq.png" class="img-fluid" width="50px">
  						<p>FAQ</p>
					</a>
  				</div>
  			</div>
  		</div>
  	</section>

  	<section>
  		<div class="container mb-3 border-0 slCont">
  			<div class="row text-center">
  				<div class="col-6">
  					<a href="<%= k4?.store_link.whatsapp %>" target="_blank" style="text-decoration: none;">
  						<img src="https://i.ibb.co/zrjkm6T/whatsapp-jpeg.png" class="img-fluid" width="120px">
  					</a>
  				</div>
  				<div class="col-6">
  					<a href="<%= k4?.store_link.telegram %>" target="_blank" style="text-decoration: none;">
  						<img src="https://i.ibb.co/7Nt1z7F/telegram-group.png" class="img-fluid" width="120px">
  					</a>
  				</div>
  			</div>
  		</div>
  	</section>

  	<section>
  		<div class="container lastCont">
  			<div class="row">
				<div class="col-xxl border d-flex align-items-center justify-content-between ms-2 p-2" style="border-radius: 20px;">
					<div>
						<img src="https://i.ibb.co/K7CRy8w/password2.png" class="img-fluid" width="20px">
						<a href="/user/settings" class="btn1" style="text-decoration: none; color: white;">Settings</a>
					</div>
						<img src="https://i.ibb.co/2nzvhpr/3.png" class="img-fluid" width="7px">
				</div>
  				<div class="col-xxl border d-flex align-items-center justify-content-between ms-2 mt-3 p-2" style="border-radius: 20px;">
					<div>
  						<img src="https://i.ibb.co/SsQHKyd/logout.png" class="img-fluid" width="20px">
  						<a href="/logout" class="btn2" style="text-decoration: none; color: white;">Logout</a>
  					</div>
  					<img src="https://i.ibb.co/2nzvhpr/3.png" class="img-fluid" width="7px">
  				</div>
  			</div>
  		</div>
  	</section>

  	<section>
  		<div class="container" style="height: 100px;"></div>
  	</section>

  	<footer>
		<%- include('./includes/footer.ejs', { name: 'account1' }) %>
	</footer>

	<script>
		window.addEventListener('load', function () {
	      // console.log("hii...");
	      // Get the loading spinner element
	      const loadingSpinner = document.getElementById('loadingSpinner');
	        
	      // Hide the loading spinner
	      loadingSpinner.style.display = 'none';
	    });
	</script>

	<script>
		function changeIconColor(element) {
	        // Remove 'activeNav' class from all links
	        sdocument.querySelectorAll('.nav-link i').forEach(icon => {
		        icon.style.color = '#ffffff';
		    });
		    document.querySelectorAll('.nav-link span').forEach(text => {
		        text.style.color = 'white';
		    });

		    // Set the clicked icon and text to green
		    let icon = link.querySelector('i');
		    icon.style.color = '#7CFC00';

		    let text = link.querySelector('span');
		    text.style.color = '#7CFC00';
		}
	</script>	

<%- include('./includes/end.ejs') %>